<a href="https://colab.research.google.com/github/kipsangchepesa/Core12_moduleII-IP/blob/main/Moringa_Data_Science_core12_ModuleII_W2_Independent_Project_2021_11_Kipsang_Nicholas_Machine_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#*Supervised Learning:*

*Hass Consulting Company Real Estate Analysis*.

#**1.Defining the question.**

The objective is to determine and analyse the factors affecting house prices. We will further predict the prices of houses considering factors provided in the data.
###**a.) Specifying the question.**

1. What are the factors affecting house pricing?
2. What greately influences the house pricing ?
3. What is the approximate cost of houses given several properties eg: bedrooms,bathrooms,area,Number of floors,renovation, presence of a water front etc

###**b.) Defining the metric of success**

What will determine my successs is establishing the factors affecting house prices and how house prices are being affected.
* This will be helpful in advising the company what factor needs more resources put to it and what are some of the improvements that can be done in ensuring that the company is at the top of the game when it comes to real estate.
* Determining the approximate price of the housing is paramount in ensuring we attract tenants with highly competitive yet fair prices while ensuring a good return on investment.

##**c.) Recording the experimental design**

* The experimental design involves viewing the data and ensuring its fitness for study while performing validation on it to ensure correctness and repeatability of the analysis.
* Performing a comprehensive study of the structure of the dataset while providing observation from every outcome of my analysis.
* Checking for anomalies,missing values and ilegitimate values inside the and dealing with them to ensure completeness and uniformity in the data.
* Creating a supervised model whole sole aim is to provide accurate and precise predictions of housing prices.
* Evaluating and cross checking the model against various optimization techniques to mark it as a suitable yet accurate predictor and solver of our problem.

##**d.) Data Relevance**

As stated above the data contains properties within the real estate context that will be relevant in our analysis ie.bedrooms,bathrooms,area,Number of floors,renovation, presence of a water front etc.

##**2. Reading the data.**

Importing all the necessary libraries

In [8]:
#Importing libraries
import pandas as pd 
import numpy as np #library for working with numbers  
import seaborn as sns #visualization
import matplotlib.pyplot as plt #visualization 
# Regression Libraries libraries
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import PolynomialFeatures
# Other ML Libraries
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
# importing library warning that has a function to diable warnings
#with an argument ignore to such that warning will be ignored
import warnings
warnings.filterwarnings("ignore")

In [10]:
#user define function to read data from a csv url
def DataFrame(data):
  df=pd.read_csv(data)
  return df

In [12]:
#loading the dataset using our user define function and assigning it to housing which is the name of our dataset.
housing=DataFrame('http://bit.ly/IndependentProjectWeek7Dataset')
housing

               id     price  bedrooms  ...     long  sqft_living15  sqft_lot15
0      7129300520  221900.0         3  ... -122.257           1340        5650
1      6414100192  538000.0         3  ... -122.319           1690        7639
2      5631500400  180000.0         2  ... -122.233           2720        8062
3      2487200875  604000.0         4  ... -122.393           1360        5000
4      1954400510  510000.0         3  ... -122.045           1800        7503
...           ...       ...       ...  ...      ...            ...         ...
21608   263000018  360000.0         3  ... -122.346           1530        1509
21609  6600060120  400000.0         4  ... -122.362           1830        7200
21610  1523300141  402101.0         2  ... -122.299           1020        2007
21611   291310100  400000.0         3  ... -122.069           1410        1287
21612  1523300157  325000.0         2  ... -122.299           1020        1357

[21613 rows x 20 columns]