<a href="https://colab.research.google.com/github/kipsangchepesa/Core12_moduleII-IP/blob/main/Moringa_Data_Science_Core12__Module_II_Week__8__Independent_Project_2021_12_Mutai_Nicholas_Kipsang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Supervised Machine Learning: Decision Trees and SVM Nairobi Hospital clinical camp to test for hypothyroidism.

Using the dataset collected during the clinical camp to build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.

#Part 1: Decision trees: Random forests, Ada boosted trees, and gradient boosted trees.

##Importing the libraries.

In [3]:
import pandas as pd #for data manipulation and analysis
import numpy as np#for working with arrays. It also has functions for working in domain of linear algebra, fourier transform, and matrices
import seaborn as sns#for making statistical graphics in Python. It builds on top of matplotlib and integrates closely with pandas data structures
# Tree libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import export_graphviz

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.svm import SVC
# Function to diable warnings
import warnings
warnings.filterwarnings("ignore")
import pandas.util.testing as tm

In [5]:
#loading 
campdf=pd.read_csv('http://bit.ly/hypothyroid_data')

#Checking for dataset

In [8]:
campdf

           status age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0     hypothyroid  72   M            f  ...            y   10            n   ?
1     hypothyroid  15   F            t  ...            y   17            n   ?
2     hypothyroid  24   M            f  ...            y    0            n   ?
3     hypothyroid  24   F            f  ...            y    6            n   ?
4     hypothyroid  77   M            f  ...            y   44            n   ?
...           ...  ..  ..          ...  ...          ...  ...          ...  ..
3158     negative  58   F            f  ...            y   95            n   ?
3159     negative  29   F            f  ...            y   98            n   ?
3160     negative  77   M            f  ...            y  104            n   ?
3161     negative  74   F            f  ...            y  137            n   ?
3162     negative  56   F            t  ...            y  143            n   ?

[3163 rows x 26 columns]

In [10]:
# Checking the structure
print('Clinical camp dataset has ',campdf.shape[False],'rows and ',campdf.shape[True],' Columns')

Clinical camp dataset has  3163 rows and  26  Columns

In [11]:
#checking for datatypes of the datapoints 
campdf.dtypes

status                       object
age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
thyroid_surgery              object
query_hypothyroid            object
query_hyperthyroid           object
pregnant                     object
sick                         object
tumor                        object
lithium                      object
goitre                       object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
TBG                          object
dtype: object

All datapoints are of type objects

#External Data Validation